I see you are <%= age %>. What are your favorite numbers?

<form method="post" action="post_numbers">
  <input type="text" name="user[num_1]">
  <input type="text" name="user[num_2]">
  <input type="text" name="user[num_3]">
  <input type="submit">
</form>